<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
        $('#btnSubmit').click(function(e) {
            var isValid1 = true;
            $('input[type="password"]').each(function() {
                if ($.trim($(this).val()) == '') {
                    isValid1 = false;
                    $(this).css({
                        
                        "border-bottom": "1px solid #F44336",
                    "box-shadow": "0 1px 0 0 #F44336"
                    });
                } else {
                    $(this).css({
                        "border-bottom" : "",
                        "box-shadow" : ""
                    });
                }
            });
            if (isValid1 == false)
                e.preventDefault();

        });
    });

</script>
<div id="register" class="col s12">
        <form class="col s12" data-ng-novalidate="" name="delform" data-ng-submit="regSubmit(delform)">        
            <div class="form-container">
                <h3 class="teal-text">Welcome to the Transport Manager's Scheduled Delivery Management Portal </h3>
                <h3 class="teal-text">Scheduled Delivery Details</h3>                             
                <div class="row">
                    <div class="input-field col s6">
                    	<label for="pickupLocation">Pickup Location*</label> 
                        <input id="pickupLocation" type="text"  name="pickupLocations" class="validate" data-ng-model="delform.pickupLocation" data-ng-required="true" required>                        
                    </div>
                    <div class="input-field col s6">
                        <label for="deliveryLocation">Delivery Location*</label>
                        <input id="deliveryLocation" type="text" name="deliveryLocations" class="validate" data-ng-model="delform.deliveryLocation" data-ng-required="true" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    	<label for="weightyAndDimensions">Weight and Dimensions*</label>
                        <input id="weightyAndDimensions" type="text"  name="weightyAndDimensionss" class="validate" data-ng-model="delform.weightyAndDimensions" data-ng-required="true" required>                        
                    </div>
                 </div>
                 <div class="row">
                    <div class="input-field col s6">
                    	<label for="specialRequest">Special Requests*</label>
                        <input id="specialRequest" type="text"  name="specialRequests" class="validate" data-ng-model="delform.specialRequest" data-ng-required="true" required>                        
                    </div>
                 </div>
                 <br/>
                 <h3 class="teal-text">Bidding Details</h3>
                 <div class="row">
                    <div class="input-field col s6">
                    	<label for="bidStartQuotePrice">Bid Start Quote Price*</label>
                        <input id="bidStartQuotePrice" type="text"  name="bidStartQuotePrices" class="validate" data-ng-model="delform.bidStartQuotePrice" data-ng-required="true" required>                        
                    </div>
                 </div>
                 <div class="row">
                    <div class="input-field col s6">
                    	<label for="driversQuotedPrice">Driver Quoted Price*</label>
                        <input id="driversQuotedPrice" type="text"  name="driversQuotedPrices" class="validate" data-ng-model="delform.driversQuotedPrice" data-ng-required="true" required>                        
                    </div>
                 </div>
                 <div class="row">
                    <div class="input-field col s6">
                    	<label for="biddingStatus">Bidding Status*</label>
                        <input id="biddingStatus" type="text"  name="biddingStatuss" class="validate" data-ng-model="delform.biddingStatus" data-ng-required="true" required>                        
                    </div>
                 </div>
                 <div class="row">
                    <div class="input-field col s6">
                    	<label for="selectedDriverEmail">Selected Driver Email*</label>
                        <input id="selectedDriverEmail" type="text"  name="selectedDriverEmails" class="validate" data-ng-model="delform.selectedDriverEmail" data-ng-required="true" required>                        
                    </div>
                 </div>
                 <div class="row">
                    <div class="input-field col s6">
                    	<label for="negotiationTemrsAndCondition">Terms and Conditions</label>
                        <input id="negotiationTemrsAndCondition" type="text"  name="negotiationTemrsAndConditions" class="validate" data-ng-model="delform.negotiationTemrsAndCondition" data-ng-required="true" required>                        
                    </div>
                 </div>               
                 <div class="row">
                    <div class="input-field col s6">
                    	<label for="deliveryStatus">Delivery Status</label>
                        <input id="deliveryStatus" type="text"  name="deliveryStatuss" class="validate" data-ng-model="delform.deliveryStatus" data-ng-required="true" required>                        
                    </div>
                 </div>
                     <div class="row">
                    <div class="input-field col s6">
                    	<label for="paymentStatus">Payment Status</label>
                        <input id="paymentStatus" type="text"  name="paymentStatuss" class="validate" data-ng-model="delform.paymentStatus" data-ng-required="true" required>                        
                    </div>
                 </div>            
                 <br/>                 
                <div class="center">
                    <button class="btn waves-effect waves-light teal" type="submit"  id="btnSubmit">Submit</button>
                    <button class="btn waves-effect waves-light teal" type="submit"  id="btnCancel">Cancel</button>
                </div>                
            </div>
            <p> <a href="http://localhost:8081/LastMileDelivery/#/dashboard">View Scheduled Delivery </a> </p>
        </form>
    </div>

                 
