<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'>
<link rel="stylesheet" href="css/style.css">



<div class="container white z-depth-2">
<ul class="tabs teal">
        <li class="tab col s3"><a class="white-text active" data-ng-href="/#/login">login</a></li>
        <li class="tab col s3"><a class="white-text" ></a></li>
    </ul>
<div id="login" class="col s12">
        <form class="col s12" name="loginform" data-ng-submit="login(loginform)">
            <div class="form-container">
                <h3 class="teal-text">Hello</h3>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="emailId" type="email" class="validate" data-ng-model="loginform.emailId">
                        <label for="emailId">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate" data-ng-model="loginform.password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <br>
                <div class="center">
                    <button class="btn waves-effect waves-light teal" type="submit" name="action">Connect</button>
                    <br/><br/>
                    <a href="">Forgotten password?</a>
                    <br/><br/>
                    <a href="/#/register">New User Registration</a>
                </div>
            </div>
        </form>
    </div></div>