<!DOCTYPE html>
<html>
    <head>
        <title>User Information</title>
		<script src="js/angulardemo.js"></script>
        <style>
            table, th, td {
               border: 1px solid black;
               border-spacing: 0px;
            }
            th, td {
                padding: 10px;
            }
        </style>
    </head>
    <body>
    <div ng-controller="demoCtrl">
        <table border="1">
            <tr>
                <td>Book Name</td>
                <td ng-bind="book"></td>
            </tr>
            <tr>
                <td>Author</td>
                <td ng-bind="author"></td>
            </tr>
        </table>
    </div>
    <br/><br/>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Nationality</th>
                    <th>Email ID</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${usersList}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.nationality}"></td>
                    <td th:text="${user.emailId}"></td>
                    <td th:text="${user.mobileno}"></td>
                    <td th:text="${user.address}"></td>
                </tr>
            </tbody>
        </table>
     </body>
   </html>