<!DOCTYPE html>
<html>
    <head>
        <title>MongoDB/Spring Boot</title>
		<script src="js/angulardemo.js"></script>
        <style>
            table, th, td {
               border: 1px solid black;
               border-spacing: 0px;
            }
            th, td {
                padding: 10px;
            }
        </style>
    </head>
    <body>
    <div ng-controller="demoCtrl">
        <table border="1">
            <tr>
                <td>Book Name</td>
                <td ng-bind="book"></td>
            </tr>
            <tr>
                <td>Author</td>
                <td ng-bind="author"></td>
            </tr>
        </table>
    </div>
    <br/><br/>
        <table>
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Description</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="car : ${carList}">
                    <td th:text="${car.make}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.description}"></td>
                    <td th:text="${car.year}"></td>
                </tr>
            </tbody>
        </table>
        <br />
        <h2>Add Car</h2>
        <form action="/addCar" method="POST">
            Make <input type="text" id="make" name="make" /><br />
            Model <input type="text" id="model" name="model" /><br />
            Description <textarea rows="5" cols="70" id="description" name="description" /><br />
            Year <textarea rows="1" cols="10" id="year" name="year" /><br />
            <input type="submit" />
        </form>
        <h2>Search for cars</h2>
        <form action="/search" method="GET">
            <input type="text" name="search" id="search" th:value="${search}" />
            <input type="submit" value="Search" />
        </form>
    </body>
</html>